@font-face {
    font-family: 'Blanka';
    src: url('/Fonts/Blanka/blanka-regular-webfont.woff2') format('woff2'),
         url('/Fonts/Blanka/blanka-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Montserrat";
    src: url("/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  }
