---
import Layout from "../layouts/Layout.astro";
import Schedules from "../components/Schedules.astro";
import Date from "../components/Date.astro";
import Artist from "../components/Artist.astro";
import Collaborators from "../components/collaborators.astro";
import List from "../components/List.astro";
---

<Layout title="Welcome to Morphosis.">
  <main class="w-full h-[150rem] cursor-default	">
    <h2 class="text-center pt-10 text-2xl">
      <span class="text-gradient">Phased.</span> presenta
    </h2>
    <h1 class="text-center">
      <span class="text-gradient text-6xl md:text-8xl lg:text-8xl"
        >Morphosis</span
      >
      <br />
      <b id="slogan" class="italic text-3xl md:text-5xl lg:text-5xl"
        >Live the change</b
      >
    </h1>
    <div class="flex flex-col flex-grow-1 w-full md:w-3/4 mx-auto">
      <List />
      <div class="pt-3">
        <Schedules />
      </div>
      <div class="pt-3">
        <Date />
      </div>
      <div class="pt-3">
        <Artist />
      </div>
      <div class="pt-3">
        <Collaborators />
      </div>
    </div>
  </main>
</Layout>

<style is:global>
  * {
    font-family: "Montserrat";
  }
  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
    background-image: url("/svg/background.svg");
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    font-family: "Blanka", "Montserrat";
  }

  #slogan {
    animation: humo 3s ease-in-out infinite;
  }
  .Artis {
    animation: neon 2s ease-in-out alternate infinite;

  }

  /* === KeyFrame === */
  @keyframes neon {
    0% {
      color: rgba(128, 0, 128, 0.8); /* Púrpura */
      text-shadow:
        0 0 10px rgba(128, 0, 128, 0.8),
        0 0 20px rgba(128, 0, 128, 0.8),
        0 0 30px rgba(128, 0, 128, 0.8);
    }
    50% {
      color: rgb(172, 25, 172); /* Púrpura intenso */
      text-shadow:
        0 0 20px rgba(128, 0, 128, 1),
        0 0 30px rgba(128, 0, 128, 1),
        0 0 40px rgba(128, 0, 128, 1);
    }
    100% {
      color: rgba(223, 18, 223, 0.8); /* Púrpura */
      text-shadow:
        0 0 10px rgba(128, 0, 128, 0.8),
        0 0 20px rgba(128, 0, 128, 0.8),
        0 0 30px rgba(128, 0, 128, 0.8);
    }
  }
  @keyframes humo {
    0% {
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    50% {
      color: rgba(255, 255, 255, 0.4);
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    }
    100% {
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
  }
  /* ===== Scrollbar CSS ===== */

  body {
    --sb-track-color: #293033;
    --sb-thumb-color: #5c4386;
    --sb-size: 10px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }

  body::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
  }
</style>
