---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Morphosis is comming...">
    <a
      href="/home"
      class="title  mx-auto overflow-hidden"
      ><h1 class="text-center  text-5xl md:text-7xl lg:text-8xl font-medium animate-ping animate-once animate-ease-linear animate-reverse animate-fill-forwards">
        MORPHOSIS<br>is coming...
      </h1></a
    >
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css?family=Montserrat");
  body {
    background-color: rgb(0, 0, 0);
  }

  .title {
    font-family: "Montserrat";
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 3px;
  }

  h1 {
    background-color: purple;
    background-size: auto;
    color: rgba(255, 255, 255, 0.178);
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    line-height: 0.75;
    margin: 10px 0;
  }
  /* styling my button */

  .white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #fff;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: "Montserrat";
  }

  .white-mode:hover {
    background-color: #fff;
    color: #122;
  }
</style>
