---

---

<div
  class="bg-black/80 rounded-md p-5 border-2 border-purple-800 drop-shadow-2xl text-center"
> 

<h2 style=" font-family: 'Blanka';" class=" text-3xl text-center">Artistas</h2>
<div>
  
</div>

</div>