---
import Card from "./Card.astro";
---

<div
  class="flex flex-col  bg-black/80 rounded-md p-5 border-2 border-purple-800 drop-shadow-2xl text-center"
> 

<h2 style=" font-family: Blanka, Montserrat;" class=" text-3xl text-center">Artistas</h2>
<br>
<div class="flex flex-row flex-wrap gap-5 justify-center items-start">  
  <Card insta="https://www.instagram.com/madnness__music/" title="madnness" body="DJ TECH HOUSE" href="/Image/madnness.png" />
  <Card insta="https://www.instagram.com/vlasmusic/" title="vlas" body="DJ BASS HOUSE" href="/Image/vlas.png" />
  <Card insta="https://www.instagram.com/bastiandekker/" title="Bastian Dekker" body="DJ TECH HOUSE" href="/Image/dekker.png" />
  <Card insta="https://www.instagram.com/mero.musick/" title="mero" body="DJ HOUSE" href="/Image/mero.png" />
  <Card insta="https://www.instagram.com/andriiic_music" title="andriiic" body="DJ TECH ACID" href="/Image/andriiic.png" />
</div>

</div>