---

---
<div
  class="flex flex-col  bg-black/80 rounded-md p-5 border-2 border-purple-800 drop-shadow-2xl text-center"
> 
    <h2 style="font-family: blanka, Montserrat;" class="text-3xl">Colabora</h2>
    <div class=" mt-20 flex flex-row justify-around">
      <a href="https://www.instagram.com/pub_punto_de_encuentro/" class="flex flex-col items-center">
        <img class="object-cover w-full h-4/6 rounded-full  md:w-32 bg-black" src="/Image/punto.png" alt="">
        <br>
        <p>Punto de Encuentro</p>
      </a>
      <a href="https://www.sdsoluciones.cl/" class="flex flex-col items-center">
        <img class="object-cover w-full h-4/6 rounded-full  md:w-32" src="/Image/sd.png" alt="">
        <br>
        <p>Stardust Soluciones Digitales</p>
      </a>
    </div>
</div>