---

---

<div
  class="bg-black/80 rounded-md p-5 border-2 border-purple-800 drop-shadow-2xl text-center"
>
  <div class="grid grid-cols-2 gap-4 mx-auto w-full">
    <div class="flex flex-col gap-3 ">
      <p class="text-3xl text-center">El</p>
      <p class="text-5xl">20 <br />Enero</p>
      <p class="text-2xl">A las</p>
      <p class="text-5xl">21:00</p>
    </div>
    <div class="flex flex-col gap-6">
      <div class="text-center pt-10">
        <p class="text-2xl">Entrada</p>
        <p class="text-4xl">$3000</p>
      </div>
      <div class="">
        <p class="text-3xl">En</p>
        <p class="text-2xl pt-3" style=" font-family: Montserrat;">Benavente #414, Coquimbo</p>
        <p class="text-2xl" style=" font-family: Montserrat;">Pub Punto de encuentro</p>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    font-family: "blanka";
  }
</style>
