---

---
<div class=" bg-black/80 rounded-md p-5 border-2 border-purple-800 drop-shadow-2xl">
    <h2 style=" font-family: Blanka, Montserrat;" class=" text-3xl text-center">Cronograma</h2>
    <div class="">
        <table class="table-auto mx-auto mt-10 border-collapse border border-slate-500 w-1/2 text-center">
            <thead>
                <tr>
                    <th class="border border-slate-600">Horario</th>
                    <th class="border border-slate-600">Artista</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-slate-700">21:00 - 22:00</td>
                    <td class="border border-slate-700">Burned Mix</td>
                </tr>
                <tr>
                    <td class="border border-slate-700">22:00 - 23:00</td>
                    <td class="border border-slate-700">MERO</td>
                </tr>
                <tr>
                    <td class="border border-slate-700">23:00 - 00:00</td>
                    <td class="border border-slate-700">MADNNESS</td>
                </tr>
                <tr>
                    <td class="border border-slate-700">00:00 - 01:00</td>
                    <td class="border border-slate-700">BASTIAN DEKKER</td>
                </tr>
                <tr>
                    <td class="border border-slate-700">01:00 - 02:00</td>
                    <td class="border border-slate-700">VLAS</td>
                </tr>
                <tr>
                    <td class="border border-slate-700">02:00 - 03:00</td>
                    <td class="border border-slate-700">ANDRIIIC</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<script>

</script>
	

	